.button{
	-FX-background-color: SlateGray;
	-FX-text-fill : Lime;
	-FX-cursor: crosshair;
	-FX-background-radius: 0
}
.button:hover{
	-FX-rotate : 180;

}
.button:pressed{
	-FX-background-color: Lime;
	-FX-text-fill : SlateGrey;
}
.root{
	-FX-background-color: Black ;
-FX-cursor: crosshair;
	
}
.label{
	-FX-text-fill : Lime;
}

.label#wk{
  -FX-font-weight : bold;
}
