.button{
	-FX-background-color: linear-gradient(HotPink,White);
	-FX-cursor: hand;
	-FX-effect: dropshadow( one-pass-box , black , 10 , 0.0 ,  2, -1 );
}
.button:hover{
	-FX-background-color: Pink;
	-FX-scale-x : 1.05;
	-FX-scale-y : 1.05;
}
.root{
	-FX-background-color: Thistle;
}
.label{
	-FX-text-fill : DeepPink;
}

.label#wk{
  -FX-font-weight : bold;
}

